.btn {
  letter-spacing: 0.5pt;
  border-radius: 3px;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
}

.btn-primary {
  --bs-btn-color: #000;
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: var(--bs-light);
  --bs-btn-hover-bg: #5143ba;
  --bs-btn-hover-border-color: var(--bs-indigo-light);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: var(--bs-dark);
  --bs-btn-active-bg: var(--bs-primary-accent);
  --bs-btn-active-border-color: var(--bs-primary-accent);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--bs-gray-600);
  --bs-btn-disabled-border-color: var(--bs-gray-600);
}

.btn-outline-primary {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: var(--bs-dark);
  --bs-btn-hover-bg: var(--bs-primary-accent);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-primary-accent);
  --bs-btn-active-border-color: var(--bs-primary-accent);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--bs-gray-600);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--bs-gray-600);
  --bs-gradient: none;
}

.btn-gradient:hover {
  border-color: var(--bs-indigo-light);
  color: var(--bs-light);
  background: linear-gradient(90deg, rgba(0,138,255,0.7) 0%, rgba(138,0,255,0.7) 100%);
}

.btn-highlight:hover {
  border-color: var(--bs-indigo-light);
  color: var(--bs-light);
  filter: drop-shadow(0 0px 10px white);
  background: linear-gradient(90deg, rgba(0,138,255,0.5) 0%, rgba(138,0,255,0.5) 100%);
}

.btn-highlight, btn-gradient {
  transition: 0.2s;
}

a:hover {
  color: var(--bs-link-hover-color);
}

:root {
  --custom-toolbar-height: 40px;
}

:root {
  --bs-blue: #1888FF;
  --bs-indigo: #5F4AFC;
  --bs-indigo-light: #9082fa;
  --bs-purple: #9700F8;
  --bs-pink: #ff5085;
  --bs-red: #f43953;
  --bs-orange: #ff943a;
  --bs-yellow: #FFD177;
  --bs-green: #76d586;
  --bs-teal: #00b4a2;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #181b1e;
  --bs-primary: var(--bs-yellow);
  --bs-primary-accent: #ffc148;
  --bs-primary-light: #ffe1a5;
  --bs-secondary: #6c757d;
  --bs-success: var(--bs-green);
  --bs-info: var(--bs-teal);
  --bs-warning: #ffc107;
  --bs-danger: var(--bs-red);
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13,110,253;
  --bs-secondary-rgb: 108,117,125;
  --bs-success-rgb: 25,135,84;
  --bs-info-rgb: 13,202,240;
  --bs-warning-rgb: 255,193,7;
  --bs-danger-rgb: 220,53,69;
  --bs-light-rgb: 248,249,250;
  --bs-dark-rgb: 33,37,41;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-body-color-rgb: 33,37,41;
  --bs-body-bg-rgb: 255,255,255;
  --bs-font-sans-serif: "montserrat";
  --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #ffffff;
  --bs-body-bg: #212529;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: var(--bs-primary-light);
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: var(--bs-cyan);
  --bs-link-hover-color: var(--bs-gray-100);
  --bs-code-color: #d63384;
  --bs-highlight-bg: rgba(255,255,255,0.25);
}

hr {
  border-top-width: 1px;
  border-color: inherit;
  width: inherit;
  opacity: 1;
  width: 100%;
}

.dropdown-menu {
  --bs-dropdown-zindex: 1000;
  --bs-dropdown-min-width: 10rem;
  --bs-dropdown-padding-x: 0;
  --bs-dropdown-padding-y: 0.5rem;
  --bs-dropdown-spacer: 0.125rem;
  --bs-dropdown-font-size: 1rem;
  --bs-dropdown-color: #ffffff;
  --bs-dropdown-bg: var(--bs-body-bg);
  --bs-dropdown-border-color: var(--bs-border-color-translucent);
  --bs-dropdown-border-radius: 0.375rem;
  --bs-dropdown-border-width: 1px;
  --bs-dropdown-inner-border-radius: calc(0.375rem - 1px);
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-divider-margin-y: 0.5rem;
  --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-dropdown-link-color: #212529;
  --bs-dropdown-link-hover-color: var(--bs-primary);
  --bs-dropdown-link-hover-bg: var(--bs-gray-900);
  --bs-dropdown-link-active-color: var(--bs-body-bg);
  --bs-dropdown-link-active-bg: var(--bs-light);
  --bs-dropdown-link-disabled-color: #adb5bd;
  --bs-dropdown-item-padding-x: 1rem;
  --bs-dropdown-item-padding-y: 0.25rem;
  --bs-dropdown-header-color: #6c757d;
  --bs-dropdown-header-padding-x: 1rem;
  --bs-dropdown-header-padding-y: 0.5rem;
  position: absolute;
  z-index: var(--bs-dropdown-zindex);
  display: none;
  min-width: var(--bs-dropdown-min-width);
  padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
  margin: 0;
  font-size: var(--bs-dropdown-font-size);
  color: var(--bs-dropdown-color);
  text-align: left;
  list-style: none;
  background-color: var(--bs-dropdown-bg);
  background-clip: padding-box;
  border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
  border-radius: var(--bs-dropdown-border-radius);
}

.dropdown-item {
  color: var(--bs-dropdown-color);
}

.navbar .navbar-nav a {
  height: 100%;
}

.navbar {
  height: var(--custom-toolbar-height);
  padding: 0px;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.dropdown-menu .dropdown-item {
  height: 45px;
}

